/* browser reset */
*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    width: 100vw;
}
.conatiner{
    width: 100%;
    background: url(./);
}
.hats{
    width: 50px;
}
.mbapp{
    width: 100%;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.card{
    width: 30%;
    height: 400px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}